name: Builder
on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * 1"

jobs:
  job-geoip:
    uses: ./.github/workflows/build_geoip.yml

  job-geosite:
    uses: ./.github/workflows/build_geosite.yml

  job-apps:
    uses: ./.github/workflows/build_apps.yml

  deploy:
    needs: [job-geoip, job-geosite, job-apps]
    runs-on: ubuntu-latest
    env:
      RELEASE_NAME: ""
      TAG_NAME: ""
    steps:
      - name: Set variables
        run: |
          echo "RELEASE_NAME=$(date +%Y-%m-%d)" >> $GITHUB_ENV
          echo "TAG_NAME=$(date +%Y%m%d%H%M)" >> $GITHUB_ENV
        shell: bash

      - name: Download GeoIp Output
        uses: actions/download-artifact@v4
        with:
          name: geoip-output
          path: release

      - name: Download GeoSite Output
        uses: actions/download-artifact@v4
        with:
          name: geosite-output
          path: release

      - name: Download Apps Output
        uses: actions/download-artifact@v4
        with:
          name: apps-output
          path: release

      - name: Archive files
        run: |
          cd text && zip -r ../sources.zip . && cd ..
          rm -rf text/
          ls -R
        working-directory: release

      - name: Create Release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          release_name: ${{ env.RELEASE_NAME }}
          tag: ${{ env.TAG_NAME }}
          make_latest: true
          file_glob: true
          file: release/*
