name: Build AppsList
on:
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      BIN_PATH: bin # Относительно $(pwd)
      OUTPUT_PATH: output
      OUTPUT_TEXT_PATH: output/text

    steps:
      # Install dependencies
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install tools
        run: |
          echo "BIN_PATH=$(pwd)/${{ env.BIN_PATH }}" >> $GITHUB_ENV
          mkdir -p ${{ env.BIN_PATH }}

          # Sing-box
          SB_URL=$(curl -s https://api.github.com/repos/SagerNet/sing-box/releases/latest | jq -r '.assets[] | select(.name | contains("linux-amd64.tar.gz")) | .browser_download_url')
          curl -L "$SB_URL" | tar -xz --strip-components=1 -C ${{ env.BIN_PATH }}

      - name: Prepare PATHs
        run: |
          echo "${{ env.BIN_PATH }}" >> $GITHUB_PATH
          mkdir -p ${{ env.OUTPUT_TEXT_PATH }}

      # Build
      - name: Prepare sources
        run: for f in apps/*; do mv "$f" "${{ env.OUTPUT_TEXT_PATH }}/apps_$(basename "$f")"; done

      - name: Build Mihomo YAML
        run: |
          build_mrs() {
              local name=$1
              shift
              local files=("$@")

              # Создание YAML: первая строка payload, затем остальные с форматированием
              echo "payload:" > "${{ env.OUTPUT_PATH }}/${name}.yaml"
              jq -r '[.rules[] | .rules[] | select(.process_name != null) | .process_name[]] | unique[] | "  - PROCESS-NAME," + .' "${files[@]}" >> "${{ env.OUTPUT_PATH }}/${name}.yaml"
              jq -r '[.rules[] | .rules[] | select(.package_name != null) | .package_name[]] | unique[] | "  - PROCESS-NAME," + .' "${files[@]}" >> "${{ env.OUTPUT_PATH }}/${name}.yaml"
          }

          build_mrs "apps_direct" \
              "${{ env.OUTPUT_TEXT_PATH }}/apps_torrent-clients.json"

          build_mrs "apps_proxy" \
              "${{ env.OUTPUT_TEXT_PATH }}/apps_ru-blocked.json"

      - name: Build Sing-box SRS
        run: |
          build_srs() {
              local name=$1
              shift
              local files=("$@")
              local buffer="temp.json"
              trap 'rm -f "$buffer"' RETURN

              # Склейка json-файлов
              jq -s '{version: .[0].version, rules: [.[].rules[]]}' "${files[@]}" > "$buffer"
              # Компиляция
              sing-box rule-set compile "$buffer" --output "${{ env.OUTPUT_PATH }}/${name}.srs"
          }

          build_srs "apps_direct" \
              "${{ env.OUTPUT_TEXT_PATH }}/apps_torrent-clients.json"

          build_srs "apps_proxy" \
              "${{ env.OUTPUT_TEXT_PATH }}/apps_ru-blocked.json"

      # Uploading results
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: apps-output
          path: output
