name: Build GeoSite
on:
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      BIN_PATH: bin # Относительно $(pwd)
      DLC_PATH: dlc
      DATA_PATH: community/data
      V2RAY_PATH: community/build
      OUTPUT_PATH: output
      OUTPUT_TEXT_PATH: output/text

    steps:
      # Install dependencies
      - name: Checkout codebase
        uses: actions/checkout@v4

      - name: Checkout Loyalsoldier/domain-list-custom
        uses: actions/checkout@v4
        with:
          repository: Loyalsoldier/domain-list-custom
          path: ${{ env.DLC_PATH }}

      - name: Checkout v2fly/domain-list-community
        uses: actions/checkout@v4
        with:
          repository: v2fly/domain-list-community
          path: community

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: ${{ env.DLC_PATH }}/go.mod
          cache-dependency-path: ${{ env.DLC_PATH }}/go.sum

      - name: Install tools
        run: |
          echo "BIN_PATH=$(pwd)/${{ env.BIN_PATH }}" >> $GITHUB_ENV
          mkdir -p ${{ env.BIN_PATH }}

          # Sing-box
          SB_URL=$(curl -s https://api.github.com/repos/SagerNet/sing-box/releases/latest | jq -r '.assets[] | select(.name | contains("linux-amd64.tar.gz")) | .browser_download_url')
          curl -L "$SB_URL" | tar -xz --strip-components=1 -C ${{ env.BIN_PATH }}

          # Mihomo
          MIHOMO_URL=$(curl -s https://api.github.com/repos/MetaCubeX/mihomo/releases/latest | jq -r '.assets[] | select(.name | contains("linux-amd64")) | select(.name | endswith(".gz")) | .browser_download_url' | head -n 1)
          curl -L "$MIHOMO_URL" | gunzip > ${{ env.BIN_PATH }}/mihomo
          chmod +x ${{ env.BIN_PATH }}/mihomo

      - name: Prepare PATHs
        run: |
          echo "${{ env.BIN_PATH }}" >> $GITHUB_PATH
          mkdir -p ${{ env.V2RAY_PATH }} ${{ env.OUTPUT_TEXT_PATH }}

      # Build
      - name: Build V2Ray Dat
        run: |
          # Подготовка списков
          export LC_ALL=C
          
          # Direct
          cp "${{ env.DATA_PATH }}"/{private,category-gov-ru} "${{ env.V2RAY_PATH }}/"
          cat "domains/a-direct.txt" \
            "${{ env.V2RAY_PATH }}/category-gov-ru" | \
          sort --ignore-case -u > "${{ env.V2RAY_PATH }}/ru-direct"

          # Block
          curl -sSL "https://raw.githubusercontent.com/crazy-max/WindowsSpyBlocker/master/data/hosts/spy.txt" | grep "0.0.0.0" | awk '{print $2}' > ${{ env.V2RAY_PATH }}/win-spy
          {
            # AdGuard
            curl -sSL "https://adguardteam.github.io/AdGuardSDNSFilter/Filters/filter.txt" | \
            perl -ne '/^\|\|([-_0-9a-zA-Z]+(\.[-_0-9a-zA-Z]+){1,64})\^$/ && print "$1\n"' | \
            perl -ne 'print if not /^[0-9]{1,3}(\.[0-9]{1,3}){3}$/'
            # Peter Lowe
            # curl -sSL "https://pgl.yoyo.org/adservers/serverlist.php?hostformat=hosts&showintro=1&mimetype=plaintext" | \
            # perl -ne '/^127\.0\.0\.1\s([-_0-9a-zA-Z]+(\.[-_0-9a-zA-Z]+){1,64})$/ && print "$1\n"'
          } | grep -vi "t.co" | sort -f -u > "${{ env.V2RAY_PATH }}/category-ads-all"

          # Proxy
          curl -sSL "https://community.antifilter.download/list/domains.lst" > ${{ env.DATA_PATH }}/antifilter-community
          curl -sSL "https://raw.githubusercontent.com/1andrevich/Re-filter-lists/main/domains_all.lst" > ${{ env.DATA_PATH }}/re-filter
          cp "${{ env.DATA_PATH }}"/{youtube,discord,instagram,instagram-ads} "${{ env.V2RAY_PATH }}/"
          grep -vE "^[[:space:]]*(include:|$)" "${{ env.DATA_PATH }}"/instagram > "${{ env.V2RAY_PATH }}/instagram"
          cat "domains/a-proxy.txt" \
            "${{ env.DATA_PATH }}/antifilter-community" \
            "${{ env.DATA_PATH }}/re-filter" | \
          sort --ignore-case -u > "${{ env.V2RAY_PATH }}/ru-blocked"

          # Сборка
          cd "${{ env.DLC_PATH }}" && go run ./ --exportlists= --togfwlist=ru-blocked --datapath="../${{ env.V2RAY_PATH }}" && cd ..
          mv "${{ env.DLC_PATH }}/publish/geosite.dat" "${{ env.OUTPUT_PATH }}/"

      - name: Normalize and move data
        uses: ./.github/actions/normalize
        with:
          input_path: "${{ env.V2RAY_PATH }}"
          output_path: "${{ env.OUTPUT_TEXT_PATH }}"

      - name: Build All Formats
        run: |
          build_all() {
              local name=$1
              shift
              local files=("$@")
              local tmp_list="temp_unique_list.txt"
              
              # Сборка списка уникальных доменов для группы
              cat "${files[@]}" 2>/dev/null | sort -ui | grep -v '^$' > "$tmp_list"
              
              # Если список пуст, выходим
              [ -s "$tmp_list" ] || return 0

              # --- Формат .lst (простой текст) ---
              cp "$tmp_list" "${{ env.OUTPUT_PATH }}/${name}.lst"

              # --- Формат .mrs (Mihomo/Clash Meta) ---
              echo "payload:" > temp.yaml
              sed "s/.*/- '+.&'/" "$tmp_list" >> temp.yaml
              mihomo convert-ruleset domain yaml temp.yaml "${{ env.OUTPUT_PATH }}/${name}.mrs"

              # --- Формат .srs (Sing-box) ---
              jq -Rs '
              {
                "version": 1,
                "rules": [{ "domain_suffix": (split("\n") | map(select(length > 0))) }]
              }' "$tmp_list" > temp.json
              sing-box rule-set compile temp.json --output "${{ env.OUTPUT_PATH }}/${name}.srs"

              rm -f temp.yaml temp.json "$tmp_list"
          }
         
          build_all "geosite_direct" \
              "${{ env.OUTPUT_TEXT_PATH }}/ru-direct"

          build_all "geosite_block" \
              "${{ env.OUTPUT_TEXT_PATH }}/win-spy" \
              "${{ env.OUTPUT_TEXT_PATH }}/category-ads-all"

          build_all "geosite_proxy" \
              "${{ env.OUTPUT_TEXT_PATH }}/ru-blocked"

      - name: Rename text files
        run: for file in ${{ env.OUTPUT_TEXT_PATH }}/*; do mv "$file" "${{ env.OUTPUT_TEXT_PATH }}/geoip_$(basename "$file").txt"; done

      # Uploading results
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: geosite-output
          path: output
